body {
    background-image: url("./../resources/TIRISBackground.png");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1%;
  }
  .logo-small {
      width: 75px;
      height: 100px;
  }
 p, h1, h2, h3, h4, h5, h6  {
     margin: 3%;
     font-family: 'open sans';
 } 
 p {
     font-size: .87em;
 }
#box1 {
    height: 100px;
    padding: 1%;
}
#box2 {
    text-align: center;
}
#logo img {
    max-width: 250px;
    height: auto;
}
#tag-1 img {
    max-width: 100px;
    height: auto;
}
.bubble {
    border-radius: 5px;
    border: solid medium navy;
    background: white;
}
.bubble1 {
    border-radius: 5px;
    border: solid medium navy;
    background: white;
    display: flex;
    flex-direction: row;
    }
.bubble2 {
    color: white;
}
.content-image {
    max-width: 395px;
    border-radius: 5px;
    border: solid medium navy;
}
#right {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#left {
    width: 400px;;
    max-width: 33%; 
    min-height: 550px;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;  
}
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.column {
    display: flex;
    flex-direction: column;
    justify-items: space-between
}
.panel-img {
    width: 75px;
    height: 75px;
    margin: .5%;
    border-radius: 5px;
    border: solid medium navy;
}